.container {
    margin: 2rem;
    justify-content: center;
    display: flex;
}

.title {
    color: rgb(40, 107, 162);
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
    box-shadow: lightgray 0px 0px 10px 2px;
    border-radius: 1rem;
    width: 25%;
    padding: 1rem;
}

.form input {
    background: lightgray;
    border: none;
    border-radius: 2%;
    width: 15rem;
    height: 3rem;
    padding-inline: 1rem;
}

.error {
    color: red;
    font-size: 10px;
}